page-home {

  .toolbar-title 
  {
    overflow: visible;
    position: relative;
    margin: auto;
    width: 60%;
    .subtitle
    {
      width: 60%;
      font-size: 66%;  
    }
  }
  .center 
  {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
  .demo-app
  {
      background-color: #000;
      color:#141D26;
      
  }
  .masters {
    background-color: #141D26;
  }
  .masters2 {
    background-color: #141D26;
  }

   

}

